# Required: Plasmic project you want to render
PLASMIC_PROJECT_ID=4vjRXvnb4XuY6J15w9oRcQ
PLASMIC_PROJECT_TOKEN=KxBS6CLFbqy0Euv3sda4cseKr0U6gb7erUJQpgjoIDDxARo5ZD9TI4zypIRTJ6qTpNUMYXte6DLjcbex5cg

# Self-hosted Plasmic API URL. Omit if using Plasmic cloud.
PLASMIC_HOST=http://157.90.224.29:3003

# Shared secret for /api/revalidate. Generate any long random string.
REVALIDATE_SECRET=change-me-to-a-long-random-string

# Set to "true" to fetch unpublished drafts (dev only)
# PLASMIC_PREVIEW=false
